
.header {
  height: 55px;
  background-color: hsl(240, 5%, 25%);
  padding: 8px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phico {
  color: #ebe2da;
  font-size: 18px;
  margin-right: 12px;
}

.contacts p {
  color: #ebe2da;
  font-size: 18px;
  margin: 0;
}
.contacts a{
  color: #ebe2da;
  font-size: 18px;
  margin: 0; 
}
.contacts p {
  width: 250px;
  animation: typing 2.5s steps(18), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.seebtn {
  color: #ebe2da;
  background-color: #1a1510;
  border: none;
  padding: 4px 16px;
  align-items: center;
  border-radius: 100px;
  font-weight: 300;
  transition: ease-in-out 0.7s;
}

.seebtn:hover {
  transition: ease 0.7s;
  background-color: #ebe2da;
  color: #1a1510;
}

.header {
  animation: slideInDown 1.5s ease-in-out;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 10%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.nav_item{
  display: inline;
  font-size: 15px;
  font-weight: 400;
  color:#ebe2da;
  margin: 0px 20px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.nav_item:hover{
  transition: ease-in 0.3s;
  opacity: 75%;
}