.bannercont {
  display: flex;
  width: 100%;
  background-color: #fff;
  transition: opacity 0.2s ease-in-out;
  overflow-y: scroll;
  scroll-behavior:smooth;
  
}
.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
}
.home {
  background-image: url("https://i.yourimageshare.com/Uzg3pmuMCW.webp");
  width: 984.525px;
  height: 1080px;
  border-radius: 5px;
  animation: slideLeft 1.5s ease-in-out;
}

.build path {
  opacity: 0;
  
}
.build path:hover {
  opacity: 100%;
  
}
.build {
  position: relative;
  right: -504px;
  bottom: -190px;

}
.animating {
  opacity: 0;
}

@keyframes slideLeft {
  0%{
      transform: translateX(-100vh);
      opacity: 10%;

  }
  100%{
      transform: translateX(0);
      opacity: 100%;

  }
}
.content{
  height: 100%;
 padding-left: 25px;
  margin:auto;
}

.select_floor{
  font-size: 52px;
  font-weight: 500;
  margin: 0;
}
.floor_number{
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.floor_apartaments{
  font-size: 27px;
  font-weight: 400;
  margin: 0;

}
.floor_area{
  font-size: 27px;
  font-weight: 400;
  margin: 0;
}
.zero_apartaments{
  font-size: 20;
  font-weight: 600;
}
.see_floors{
  border: none;
  font-size: 22px;
  padding: 4px 25px;
  color: #fff;
  background-color: #384256;
  border: 1px solid #384256;
  border-radius: 5px;
  margin-top: 15px;
  transition: ease-in-out 0.3s;

}
.see_floors:hover{
  transition: ease-in 0.3s;

  background-color: #fff;
  color: #384256;
}
.floor_image{
  width: 350px;
  height: 370px;
}